In [1]:
import pandas as pd
data1 = pd.read_csv('RawCSV.csv', header = 0)
data1.head()

,JAX SNP ID (chromosome-position-source),RS #,New Chr pos (bp) Build 30,Flanking Sequence,129S1/SvImJ,129X1/SvJ,C57BL/6ByJ,C57BL/6J,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,01-003165994-M,rs3691099,"3,165,994",AGTGTCTGAGCCTCAGACCAAACAATGGTTAAAGGGAATGTTCAAT...,,NaN,G,G,NaN,NaN,NaN,NaN,NaN,NaN
1,01-004147733-M,rs3658242,"4,147,733",GTGTGGCCCTTCCCACGTATGCAGATACCTGCAAAGGCATGGGAGA...,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN
2,01-004787554-N,rs4222142,"4,787,601",TATTCAGCTATGTAGTTCATTTGCTTATGAACTGCTGTTGAATTCA...,T,T,T,T,NaN,NaN,NaN,NaN,NaN,NaN
3,01-005230167-M,rs3708040,"5,230,167",GCGATGNGCTTCCTCCAACCAGGCTCTACCTATTAAAGGTTCTATA...,T,T,C,C,NaN,NaN,NaN,NaN,NaN,NaN
4,01-006479686-N,rs3024171,"6,479,671",GCTTAAAAACACCCTTTGGAGAATACAAATGGTTTTAAGTAACTGC...,T,T,T,T,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
data = data1.drop(data1.columns[8:], axis = 1)
data.head()

,JAX SNP ID (chromosome-position-source),RS #,New Chr pos (bp) Build 30,Flanking Sequence,129S1/SvImJ,129X1/SvJ,C57BL/6ByJ,C57BL/6J
0,01-003165994-M,rs3691099,"3,165,994",AGTGTCTGAGCCTCAGACCAAACAATGGTTAAAGGGAATGTTCAAT...,,NaN,G,G
1,01-004147733-M,rs3658242,"4,147,733",GTGTGGCCCTTCCCACGTATGCAGATACCTGCAAAGGCATGGGAGA...,A,A,A,A
2,01-004787554-N,rs4222142,"4,787,601",TATTCAGCTATGTAGTTCATTTGCTTATGAACTGCTGTTGAATTCA...,T,T,T,T
3,01-005230167-M,rs3708040,"5,230,167",GCGATGNGCTTCCTCCAACCAGGCTCTACCTATTAAAGGTTCTATA...,T,T,C,C
4,01-006479686-N,rs3024171,"6,479,671",GCTTAAAAACACCCTTTGGAGAATACAAATGGTTTTAAGTAACTGC...,T,T,T,T